@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../img/1.\ img_fundo.jpg);
    background-size: cover;
}

.navbar-container {
    width: 100%; 
    height: 80px;
    background-color: #490707
}

.logo {
    margin: 5px;
    height: 70px;
    width: auto;
}

.nav {
    position: relative;
}

.nav-items {
    margin: 0;
    position: absolute;
    right: 20px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
}

.nav-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 20px;
}

.nav-items a {
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    text-decoration: none;
    transition: 1s;
}

.nav-items a:hover {
    color: #ac077d;
}

.main-banner {
    background-image: url(../img/Imagem1.gif);
    background-size: cover;
    background-position: center;
    padding: 2rem 0; 
    
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    text-align: center;
    font-weight: bold;
}

.main-banner p {
    font-style: italic;
    font-size: 40px;
}
.main-banner h1{
    font-size: 60px;;
}

.flavors {
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    font-weight: bold;  
    font-size: 20px;   
    text-align: center;
    padding-top: 30px;
    
}

.flavor {
    display: block;
    top: 40px;
}
.flavors label{
    font-size: 45px;
    color: #ac077d;
}
select{
    width: 50%;
    max-width: 500px;
}
.pictures-container{
    display: flex;
    flex:1 1 100px;  
    justify-content:space-evenly;
   background-color: #f5d9ed;
   padding:1rem;
   width: 100%;
       
}
.pictures-container img{
    width: 350px auto;
    height: 400px;
    gap:px;
    margin:0.5rem;
    border: 4px solid #490707;
    border-radius: 10px;
}
.categories-container {
    width: 100%;
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.categories-container p {
    font-size: 32px;
    margin-right: 40px;
}

.cat-container {
    display: flex;
   flex-direction: row; 
   gap: 10rem;
}

.cat {
    flex: 1;    
    margin: 10px 20px 20px 0;
}

.cat li {
    list-style: none;
    width: 150px;   
    height: 50px; 
    line-height: 50px;  
    color: #fff;
    background-color: #ac077d;    
}

.cat .size {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #490707;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
    top: -40px;
    left: -50px;
    
}

.news-container {
    background-color: #ac077d;
    padding: 10px;
    text-align: center;
}

.news-container h2 {
    margin: 10px;
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    font-size: 30px;
}

.news-container input[type="e-mail"] {
    width: 100%; 
    max-width: 400px;
    height: 30px;
}

.news-container input[type="submit"] {
    width: 15%;
    background-color: #490707;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 2px;
    height: 30px;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
    justify-content: space-between;
    width: 100%;
    background-color:#f5d9ed ;
    padding: 20px;
}
.info{
    width: 250px;
    height: 350px;
}
.info ul{
    display: flex;
    align-items: center;
    
}
.info-container li {
    list-style: none;
    width: 250px; 
    font-size: 20px; 
    margin: 5px;    
    flex-wrap: wrap;  
}

#pagamento img{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 10px; 
}
.icones-pagamento{
    width: 30px;
}

footer {
    background-color: #490707;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.logo-redes{
    width: 30px;
}

@media (max-width:1100px) {
  

 .nav-items a{
    font-size:20px;
 }
 html,
 body{
     overflow-x: hidden;
 }
 .cat-container{
    gap:5rem;
 }
}
@media (max-width:900px) {
.main-banner  h1{
    font-size: 30px;
}
.main-banner  p{
    font-size: 25px;
}
.flavor label{
    font-size: 20px;
}
html,
body{
    overflow-x: hidden;
}
.nav-items a{
   font-size: 12px;
}
.pictures-container{
    flex-wrap: wrap;
    padding: 10px;
   
}
.pictures-container img{
   width: 33%;
}
.categories-container{
    padding: 10px ;
    
}
.cat-container{
    gap:1rem; 
    flex-direction: row;
       
}
.info-container{
    width: auto;
}
.info-container .info ul{
    flex-wrap: wrap;
    }
.info-container .info ul h3{
     font-size: 20px;
    }
}
@media (max-width:576px) {
    html,
body{
    overflow-x: hidden;
}
.nav-items {
    font-size: 6px; 
    margin: 10px;
    
 }
.nav-items li{
   margin-left: 5px;
   
}
.flavors label{
   font-size: 30px;
}
.pictures-container img{
   width: 33%;
   
}

.news-container{
   flex-direction: column;
}
.news-container input{
   margin-bottom: 10px;
}
.info-container {
   height: auto;
   flex-direction: row;
   flex-wrap: nowrap;
   text-align: center;
   align-items: center;
}
.info li{
   height: auto;
} 
}